
/* 
    Created on : 13 Sep 2020, 22:28:06
    Author     : John
*/

/*
RESIZING FOR DIFFERENT SCREEN DPI
-------------------------------

When the screen DPI changes Windows will use a different font size by default.
The default is 12px and can change to 15px or 18px depending on user
preference or screen DPI. On Mac the default is 13px and embedded will depend
on hardware. To make UI controls scale and be the right proportions for each of
these font sizes we base the padding (which controls size of control) on the
font size. This is done using the CSS measurement unit of a "em" where
(1em = font size). The default sizes are based on Windows default of 12px, as
a quick reference here are common px sizes in em units on windows.

Windows 12px -> em units    -> Mac 13px      |
----------------------------------------
     1px     -> 0.083333em  -> 1.08px ~ 2px
     2px     -> 0.166667em  -> 2.16px ~ 3px
     3px  = 0.25em
     4px  = 0.333333em
     5px  = 0.416667em
     6px  = 0.5em
     7px  = 0.583333em
     8px  = 0.666667em
     9px  = 0.75em
    10px  = 0.833333em
    11px  = 0.916667em
    12px  = 1em

IMPORTANT: Not all sizes are scaled with em units only padding. All borders and
background insets are still in pixels. Also any padding where it has to match up
is being used to size a border should also be in pixels.
*/


.root {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  12px;
    -fx-text-fill:  #000000;
}

.spinner {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  16px;
}

.toggle-switch {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  12px;
}

.customcombo {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  16px;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size:  15px;
}

.titleLabel {
    -fx-font-weight: bold;
    -fx-font-size:  16px;
}

.menu-label  {
    -fx-background-color: #1f80ad;
    -fx-font-weight: bold;
    -fx-font-size:  18px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 5 10px;
    -fx-alignment: center-left;
}

.menu-label:hover {
    -fx-background-color:  #1f80ad;
    -fx-padding: 0 0 5 10px;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size:  18px;
    -fx-text-fill:  #000000;
}

.radiopanel {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  14px;
}

.sectionlabel {
    -fx-font-family: "Liberation Serif";
    -fx-font-size:  20px;

}

